<?php require VIEWS_PATH . 'includes/home/header.phtml'; ?>
    <div class="content contentLogin">
        <div class="container boxLogin">
            <h1>Login</h1>
            <div class="alert">
                <?php require VIEWS_PATH . 'includes/messages.phtml'; ?>
            </div>
            <div class="loginForm">
                <form action="<?= HOME; ?>/auth/login" method="post">
                    <div class="form-group">
                        <label for="useremail">
                            <input id="useremail" type="email" class="form-control" placeholder="exemplo@exemplo.com.br" name="email">
                            <i class="icofont-user-alt-4"></i>
                        </label>

                    </div>
                    <div class="form-group">
                        <label for="password">
                            <input id="password" type="password" class="form-control" placeholder="Senha" name="password">
                            <i class="icofont-ui-unlock"></i>
                        </label>

                    </div>
                    <button type="submit" class="btn btn-primary btn-100">Acessar</button>
                </form>
            </div>
        </div>
    </div>

<?php require VIEWS_PATH . 'includes/home/footer.phtml'; ?>