<?php if(\Code\Session\Session::has('success')): ?>
	<div class="alertBox alertSuccess">
		<?=\Code\Session\Flash::get('success');?>
	</div>
<?php endif;?>

<?php if(\Code\Session\Session::has('warning')): ?>
	<div class="alertBox alertWarning">
		<?=\Code\Session\Flash::get('warning');?>
	</div>
<?php endif;?>


<?php if(\Code\Session\Session::has('danger')): ?>
	<div class="alertBox alertDanger">
		<?=\Code\Session\Flash::get('danger');?>
	</div>
<?php endif;?>
