<?php require VIEWS_PATH . 'includes/header.phtml';?>
    <div class="content">
        <div class="container myexpenses">
            <h1>Editar</h1>
        </div>
        <div class="newForm">
            <form method="post" action="<?=HOME;?>/myexpenses/edit/<?=$this->expense['id'];?>">
                <div class="form-group">
                    <label for="title">Título</label>
                    <input id="title" type="text" name="title" value="<?=$this->expense['title'];?>" class="form-control">
                </div>

                <div class="row formGroupRow">

                    <div class="form-group">
                        <label for="value">Valor Gasto</label>
                        <input type="text" name="value" class="form-control moneyMask" id="value" value="<?=$this->expense['value'];?>" placeholder="99.00">
                    </div>

                    <div class="form-group">
                        <label for="category">Categoria</label>
                        <select name="categories_id" id="category">
                            <?php foreach($this->categories as $c): ?>
                                <option value="<?=$c['id']?>"
                                    <?php if($c['id'] == $this->expense['categories_id']):?>
                                        selected
                                    <?php endif;?>
                                ><?=$c['name']?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>

                <div class="row formGroupRow">

                    <div class="form-group">
                        <label for="date">Data anterior</label>
                        <input type="text" name="date_event"  class="form-control  dateMask" id="date" value="<?=$this->expense['date_event'];?>">
                    </div>

                    <div class="form-group">
                        <label for="payment_id">Método de Pagamento</label>
                        <select name="payment_id" id="payment_id">
                            <?php foreach($this->payments as $p): ?>
                                <option value="<?=$p['id']?>"
                                    <?php if($p['id'] == $this->expense['categories_id']):?>
                                        selected
                                    <?php endif;?>
                                ><?=$p['name']?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Descrição</label>
                    <textarea name="description" id="description" cols="30" rows="10" class="form-control"><?=$this->expense['description'];?></textarea>
                </div>


                <div class="form-group">
                    <label for="note">obeservação</label>
                    <textarea name="note" id="note" cols="30" rows="10" class="form-control"><?=$this->expense['note'];?></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-lg pull-right">Atualizar Dados</button>
            </form>
        </div>

    </div>
<?php require VIEWS_PATH . 'includes/footer.phtml';?>