<?php require VIEWS_PATH . 'includes/header.phtml'; ?>
<div class="content">
    <div class="container myexpenses">
        <h1>Despesas</h1>
    </div>
    <div class="container">
        <div class="spendingsBox" id="filterExpenses">

            <div class="sumBox">
                <?php
                $expensesSum = $this->expenses;
                $sum = array_sum(array_map(function($item) { return $item['value']; }, $expensesSum));
                $sumFormat = number_format($sum, 2 , ',' , '.');
                ?>
                <div class="sumBoxItems">
                    <h3>Despesas Mensais </h3>
                    <div class="sumBoxInner">
                        R$ <span><?=$sumFormat?></span>
                    </div>
                </div>
            </div>

            <div class="alert">
                <?php require VIEWS_PATH . 'includes/messages.phtml'; ?>
            </div>

            <div id="errorFilter" class="alertFilter">
                <div class="alertBox alertDanger">
                    Por favor, selecione uma data valida!
                </div>
            </div>
            <div class="spendingsBoxNew spendingsBoxRow">
                <div class="filterContent">
                    <form class="form" method="post">
                        <div class="row formGroupRow">
                            <div class="form-group">
                                <label for="dateInit">inicio</label>
                                <input id="dateInit" type="date" name="dateInit" class="form-control date">
                            </div>
                            <div class="form-group">
                                <label for="dateEnd">Final</label>
                                <input id="dateEnd" type="date" name="dateEnd" class="form-control date">
                            </div>
                        </div>
                        <button id="btnFilter" name="btnFilter" class="btn" type="submit">Filtrar</button>
                        <script>
                            var url = '<?php echo HOME ; ?>/myexpenses';
                            console.log(url);
                        </script>
                    </form>
                </div>
                <a class="btn" href="<?= HOME; ?>/myexpenses/new"><span><i class="icofont-plus"></i></span>
                    <strong>Nova</strong></a>
            </div>
            <div class="spendingsBoxHeader spendingsBoxRow">
                <div class="boxItem">Despesa</div>
                <div class="boxItem">Valor</div>
                <div class="boxItem">Pagamento</div>
                <div class="boxItem">Categoria</div>
                <div class="boxItem">Data</div>
                <div class="boxItem">Observação</div>
                <div class="boxItem">Ações</div>
            </div>
            <div class="spendingsBoxBody">
                <?php
                $expensesDate = count($this->expenses);
                if (!empty($expensesDate)) {
                    foreach ($this->expenses as $e):?>
                        <div class="spendingsBoxBodyInner spendingsBoxRow">
                            <div class="boxItem"><?= $e['title']; ?></div>
                            <div class="boxItem">R$ <?= number_format($e['value'], 2, ',', '.'); ?></div>
                            <div class="boxItem">
                                <?php foreach ($this->payments as $p) : ?>
                                    <?php if(in_array($e['payment_id'] , $p)) : ?>
                                        <?=$p['name']?>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </div>
                            <div class="boxItem">
                                <?php foreach ($this->categories as $key => $c) : ?>

                                    <?php if(in_array($e['payment_id'] , $c)) : ?>
                                        <?=$c['name']?>
                                    <?php endif; ?>

                                <?php endforeach; ?>
                            </div>
                            <div class="boxItem"><?= $e['date_event']; ?></div>
                            <div class="boxItem">
                            <?php if($e['note']){ echo $e['note']; }else{ ?>
                                Nenhuma informação cadastrada
                            <?php } ?>
                            </div>
                            <div class="boxItem">
                                <a alt="Ver Despesa" title="Ver Despesa"
                                   href="<?= HOME; ?>/myexpenses/open/<?= $e['id']; ?>" class="btn btn-primary"><span><i
                                                class="icofont-maximize"></i></span></a>
                                <a alt="Editar Despesa" title="Editar Despesa"
                                   href="<?= HOME; ?>/myexpenses/edit/<?= $e['id']; ?>" class="btn btn-success"><span><i
                                                class="icofont-edit"></i></span></a>
                                <a alt="Excluir Despesa" title="Excluir Despesa"
                                   href="<?= HOME; ?>/myexpenses/remove/<?= $e['id']; ?>" class="btn btn-danger"
                                   data-confirm="Deseja Excluir o item?" );"><span><i
                                            class="icofont-ui-delete"></i></span></a>
                            </div>
                        </div>
                    <?php endforeach;
                } else { ?>
                    <div class="spendingsBoxBodyInner spendingsBoxRow" style="margin-top: 20px">
                       <div class="alertDanger">
                           Você não possui despesas cadastradas no momento!
                       </div>
                   </div>
                <?php } ?>
            </div>
        </div>
    </div>

    <div id="confirmDelete" class="modalDeleted">
        <div class="modal">
            <div class="header">
                Excluir Item
                <div class="closed btnClosedModal"><i class="icofont-close-line-squared"></i></div>
            </div>
            <div class="body">
                Remover o item permanentemente?
            </div>
            <div class="footer">
                <a id="DeletedConfirm" href="" class="btn btn-danger">Confirmar</a>
                <button type="button" class="btn btn-success closed">Cancelar</button>
            </div>
        </div>
    </div>

</div>
<?php require VIEWS_PATH . 'includes/footer.phtml'; ?>
