<?php require VIEWS_PATH . 'includes/header.phtml';?>
<div class="content">
    <div class="container myexpenses">
        <h1>Nova Despesa</h1>
    </div>
    <div class="newForm">
		<form method="post" action="<?=HOME;?>/myexpenses/new">
            <div class="form-group">
                <label for="title">Título</label>
                <input id="title" type="text" name="title" class="form-control" placeholder="Ração Gatos">
            </div>
			<div class="row formGroupRow">

                <div class="form-group">
                    <label for="value">Valor Gasto</label>
                    <input id="value" type="text" name="value" class="form-control moneyMask" placeholder="99.00">
                </div>

                <div class="form-group">
                    <label for="category">Categoria</label>
                    <select name="categories_id" id="category">
                        <?php foreach($this->categories as $c): ?>
                            <option value="<?=$c['id']?>"><?=$c['name']?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
			<div class="row formGroupRow">

                <div class="form-group">
                    <label for="title">Data da Compra</label>
                    <input id="title" type="text" name="date_event" class="form-control dateMask" placeholder="01/01/2020">
                </div>

                <div class="form-group">
                    <label for="payment_id">Método de Pagamento</label>
                    <select name="payment_id" id="payment_id">
                        <?php foreach($this->payments as $p): ?>
                            <option value="<?=$p['id']?>"><?=$p['name']?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>

			<div class="form-group">
				<label for="description">Descrição</label>
				<textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
			</div>


            <div class="form-group">
                <label for="note">obeservação</label>
                <textarea name="note" id="note" cols="30" rows="10" class="form-control"></textarea>
            </div>
			<button type="submit" class="btn btn-success btn-lg pull-right">Salvar Despesa</button>
		</form>
	</div>

</div>
<?php require VIEWS_PATH . 'includes/footer.phtml';?>
