<?php require VIEWS_PATH . 'includes/header.phtml'; ?>
<div class="content">
    <div class="container myexpenses">
        <h1 style="text-align: center"><?= $this->expense['title']; ?></h1>
    </div>
    <div class="newForm">

        <div class="contentExpenseOpen">

            <p><span><i class="fa fa-money" aria-hidden="true"></i> Valor: R$ </span><?= number_format($this->expense['value'], 2, ',', '.'); ?> </p>

            <p><span><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Método de pagamento: </span>
                <?php foreach ($this->payments as $p): ?>
                    <?php if ($p['id'] == $this->expense['payment_id']): ?>
                        <?= $p['name'] ?>
                    <?php endif; ?>
                <?php endforeach; ?>
            </p>

            <p><span><i class="icofont-tag"></i> Categoria: </span>

                <?php foreach ($this->categories as $c): ?>
                    <?php if ($c['id'] == $this->expense['categories_id']): ?>
                        <?= $c['name'] ?>
                    <?php endif; ?>
                <?php endforeach; ?>
            </p>

            <div>
                <p><span><i class="icofont-numbered"></i> Descrição: </span></p>
                <?php if (!empty($this->expense['description'])) : ?>
                    <p><?= $this->expense['description']; ?></p>
                <?php else : ?>
                    <p>Você não cadastrou descrição da despesa</p>
                <?php endif; ?>
            </div>

            <div>
                <p><span><i class="icofont-question-square"></i> Observações: </span></p>
                <?php if (!empty($this->expense['note'])) : ?>
                    <p><?= $this->expense['note']; ?></p>
                <?php else : ?>
                    <p>Você não cadastrou nenhuma observações</p>
                <?php endif; ?>
            </div>

            <div class="btnEditContent">
                <a alt="Editar Despesa" title="Editar Despesa" href="<?=HOME;?>/myexpenses/edit/<?=$this->expense['id'];?>" class="btn btn-success"><span><i class="icofont-edit"></i></span> Editar Item</a>
            </div>

        </div>

    </div>

</div>

</div>
<?php require VIEWS_PATH . 'includes/footer.phtml'; ?>
