<footer class="container text-center">
    Spending Control V1.0 &copy; Todos os Direitos Reservados - <?=date('Y');?> By: <a href="https://codeexperts.com.br/" target="_blank">Code Experts Learnin</a>
</footer>

</main>
<!--body main page-->
<!--JS-->
<script src="<?= HOME; ?>/assets/js/jquery-3.2.1.min.js"></script>
<script src="<?= HOME; ?>/assets/js/main.js"></script>

</body>
</html>