<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spending Control - Gerenciador de Gastos Pessoais</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="<?= HOME; ?>/assets/css/mainHome.css">
    <link rel="stylesheet" href="<?= HOME; ?>/assets/css/icofont.min.css">
</head>
<body>

<!--body main page-->
<main id="main" class="contentHome">
<nav class="navbar">
    <div class="content contentMenu">
        <div class="navbarHeader">
            <a class="navbarHeaderLink" href="<?= HOME; ?>">
                <img src="<?= HOME; ?>/assets/images/logo.png" alt="" class="logo-desktop"> <span><strong>Spending</strong> Control</span>
            </a>
        </div>
        <div id="navbar" class="navMenu">
            <ul class="nav">
                <li>
                    <a href="<?= HOME; ?>/"><span><i class="icofont-home"></i></span> <strong>Home</strong></a>
                </li>
                <?php if (\Code\Session\Session::has('user')): ?>
                    <li>
                        <a href="<?= HOME; ?>/myexpenses/new"><span><i class="icofont-plus"></i></span> <strong>Nova</strong></a>
                    </li>

                    <li>
                        <a href="<?= HOME; ?>/myexpenses"><span><i class="icofont-list"></i></span> <strong>Despesas</strong></a>
                    </li>

                    <li>
                        <a href="<?= HOME; ?>/auth/logout"><span><i class="icofont-sign-out"></i></span> <strong>Sair</strong></a>
                    </li>
                <?php else: ?>
                    <li>
                        <a href="<?= HOME; ?>/auth/login"><span><i class="icofont-sign-in"></i></span> <strong>Entrar</strong></a>
                    </li>
                <?php endif; ?>
            </ul>
        </div>
    </div>
</nav>
