<?php require VIEWS_PATH . 'includes/header.phtml';?>
<div class="jumbotron">
    <h1>Área Restrita</h1>
    <p>
        Você precisa logar para acessar está página!
    </p>
    <p>
        <a class="btn btn-lg btn-primary" href="<?= HOME; ?>/auth/login" role="button">Entrar</a>
    </p>
</div>

<div class="container">


</div>
<?php require VIEWS_PATH . 'includes/footer.phtml';?>
