<?php require VIEWS_PATH . 'includes/home/header.phtml';?>
<div class="content">

    <div class="container">
        <h1>Gerenciador de Gastos Pessoais</h1>
        <p>
            Gerencie todos os seus gastos de forma fácil e rápida.
        </p>

        <div class="container">
            <?php if (\Code\Session\Session::has('user')): ?>
                <div class="row itemsSystem">
                    <div class="box">
                        <a href="<?= HOME; ?>/myexpenses/new">
                            <h3>Nova</h3>
                            <div class="others">
                                Cadastre uma despesa nova
                            </div>
                        </a>
                    </div>

                    <div class="box">
                        <a href="<?= HOME; ?>/myexpenses">
                            <h3>Todas as Despesas</h3>
                            <div class="others">
                                Veja as suas despesas
                            </div>
                        </a>
                    </div>

                    <div class="box">
                        <a href="<?= HOME; ?>/auth/logout">
                            <h3>Sair</h3>
                            <div class="others">
                                Sair do sistema
                            </div>
                        </a>
                    </div>
                </div>
            <?php else: ?>
                <a class="btn btn-primary" href="<?= HOME; ?>/auth/login"><i class="icofont-login"></i> Entrar</a>
            <?php endif; ?>
        </div>

    </div>

</div>
<?php require VIEWS_PATH . 'includes/home/footer.phtml';?>
