/*
* Spending Control V1.0
* https://gastos.ciadweb.info
* Copyright 2020 CIAD WEB.
* © 2020 Spending Control
* Released under the MIT License
*/

@charset "UTF-8";

/************************
#   All Stylesheets     #
************************/

:root {
    --black: #262626;
    --blue: #084177;
    --cian: #17a2b8;
    --dark-white: #d2d2d2;
    --dark-green: #6a9876;
    --green: #28a745;
    --orange: #ff9201;
    --yellow: #fdb62f;
    --red: #df0c0c;
    --white: #ffffff;
    --light-blue: #95e1d3;
    --light-dark: #333333;
    --light-orange: #fcb250;
    --light-yellow: #fed966;
    --light-green: #8bc89c;
    --rgba-black: rgba(38, 38, 38, .7);
    --rgba-blue: rgba(8, 65, 119, .7);
    --rgba-cian: rgba(23, 162, 184, .7);
    --rgba-green: rgba(40, 167, 69, .7);
    --rgba-orange: rgba(255, 146, 1, .7);
    --rgba-yellow: rgba(253, 182, 47, .7);
    --rgba-red: rgba(223, 12, 12, .7);
    --rgba-white: rgba(255, 255, 222, .7);
    --font-title: 'Oswald' , Arial, x-locale-body, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-default: 'Roboto' , Arial, x-locale-body, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    position: relative;
    display: block;
    width: 100%;
}

body {
    margin: 0;
    font-family: var(--font-default);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.locked {
    overflow-y: auto;
}

.disabled {
    display: none !important;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: var(--font-title);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
    list-style: none;
}


img {
    vertical-align: middle;
    border-style: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}


h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-100 {
    width: 100%;
}

/*buttons*/
.btn-primary {
    color: var(--white);
    background-color: var(--light-orange);
    border-color: var(--light-orange);
}


.btn-primary:hover {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-primary:focus, .btn-primary.focus {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--orange);
    box-shadow: 0 0 0 0.2rem var(--rgba-orange);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--rgba-orange);
}

/*inputs*/
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--rgba-black);
    background-color: var(--white);
    background-clip: padding-box;
    border: none;
    outline: 0;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-webkit-input-placeholder {
    color: var(--light-green);
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: var(--light-green);
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: var(--light-green);
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: var(--light-green);
    opacity: 1;
}

.form-control::placeholder {
    color: var(--light-green);
    opacity: 1;
}

.form-control:focus, .form-control:active {
    border: none;
    outline: 0;
}

/*Alert*/
.alert {
    position: relative;
    width: 100%;
    padding: 0 30px;
}

.alertBox {
    width: 100%;
    text-align: center;
}

.alertSuccess {
    color: var(--green);
}

.alertWarning {
    color: var(--light-yellow);
}

.alertDanger {
    color: var(--red);
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*home*/
.contentHome {
    width: 100%;
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

/*menu*/
.navbar {
    padding: 10px 0;
    background-color: var(--black);
}
.contentMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbarHeader {
    flex: 1 1 300px;
}

.navMenu {
    width: calc(100% - 320px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navMenu .nav {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navMenu .nav li ,
.navMenu .nav li a ,
.navMenu .nav li a span{
    background-color: transparent;
    transition: all .3s ease-in-out;
}

.navMenu .nav li:hover a ,
.navMenu .nav li:hover a span {
    color: var(--orange);
}

.navMenu .nav li a{
    padding: 6px 15px;
    display: block;
    color: var(--white);
}

.navMenu .nav li a span {
    color: var(--light-green);
}

.navMenu .nav li a strong {
    font-weight: 400;
}

.navbarHeaderLink {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.logo-desktop {
    width: auto;
    height: 50px;
}

.navbarHeaderLink span {
    margin-left: 15px;
    color: var(--orange);
    font-family: var(--font-title);
    font-size: 2rem;
    font-weight: 300;
}

.navbarHeaderLink span strong {
    color: var(--white);
}

.contentHome .container h1 {
    color: var(--orange);
}

.contentHome .container p {
    padding: 0 0 100px 0;
    color: var(--light-dark);
}

.itemsSystem {
    justify-content: space-between;
}

.box {
    flex: 1 1 calc(300px - 20px);
    background-color: var(--white);
    height: 250px;
    margin-top: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 3px 0px var(--rgba-black);
}

.itemsSystem .box:nth-child(1) {
    margin-right: 20px;
    background-color: var(--green);
    background-image: url(../images/add-expenses.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom right;
    border-left: 8px solid var(--white);
}

.itemsSystem .box:hover:nth-child(1) {
    background-color: var(--light-dark);
    border-left: 8px solid var(--cian);
}

.itemsSystem .box:nth-child(2) {
    margin-right: 20px;
    background-image: url(../images/list-expenses.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom right;
    border-bottom: 8px solid var(--orange);
}

.itemsSystem .box:hover:nth-child(2) {
    background-color: var(--light-dark);
    border-bottom: 8px solid var(--cian);
}

.itemsSystem .box:nth-child(3) {
    background-color: var(--light-yellow);
    background-image: url(../images/exit-expenses.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom right;
    border-right: 8px solid var(--black);
}

.itemsSystem .box:hover:nth-child(3) {
    background-color: var(--light-dark);
    border-right: 8px solid var(--cian);
}

.box a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box:hover a h3,
.box:hover a .others {
    color: var(--white);
}

.box a h3 {
    font-weight: 600;
    color: var(--black);
}

.box a .others {
    color: var(--black);
}

.contentLogin {
    width: 100%;
    max-width: 400px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--rgba-black);
    border-radius: 6px;
}

.boxLogin {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm {
    width: 100%;
    height: 100%;
    padding: 0px 30px;
}

.boxLogin h1 {
    margin-bottom: 4rem;
    width: 100%;
    font-size: 3.6rem;
    color: var(--rgba-white)!important;
    text-align: center;
}

.loginForm form {
    width: 100%;
    height: 100%;
}

.loginForm form .form-group {
    width: 100%;
    height: 40px;
    margin-bottom: 1.249rem;
}

.loginForm form .form-group label {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
}

.loginForm form .form-group label .form-control {
    position: absolute;
    color: var(--light-green);
    width: 100%;
    left: 0;
    top: 0;
    padding: 10px;
}

.loginForm form .form-group label i {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--light-green);
    right: 0;
    top: 0;
}

footer {
    width: 100%;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}
/************************
#     Media Queries     #
************************/

@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 319px) {
    .container {
        max-width: 300px;
    }
}

/************************
#   End Media Queries   #
************************/