/*
* Spending Control V1.0
* https://gastos.ciadweb.info
* Copyright 2020 CIAD WEB.
* © 2020 Spending Control
* Released under the MIT License
*/

@charset "UTF-8";

/************************
#   All Stylesheets     #
************************/

:root {
    --black: #262626;
    --blue: #084177;
    --cian: #17a2b8;
    --dark-white: #d2d2d2;
    --dark-green: #6a9876;
    --green: #28a745;
    --orange: #ff9201;
    --yellow: #fdb62f;
    --red: #df0c0c;
    --white: #ffffff;
    --light-blue: #95e1d3;
    --light-dark: #333333;
    --light-green: #8bc89c;
    --light-orange: #fcb250;
    --light-red: #df4316;
    --light-yellow: #fed966;
    --rgba-black: rgba(38, 38, 38, .7);
    --rgba-blue: rgba(8, 65, 119, .7);
    --rgba-cian: rgba(23, 162, 184, .7);
    --rgba-green: rgba(40, 167, 69, .7);
    --rgba-orange: rgba(255, 146, 1, .7);
    --rgba-yellow: rgba(253, 182, 47, .7);
    --rgba-red: rgba(223, 12, 12, .7);
    --rgba-white: rgba(255, 255, 222, .7);
    --font-title: 'Oswald' , Arial, x-locale-body, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-default: 'Roboto' , Arial, x-locale-body, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    position: relative;
    display: block;
    width: 100%;
}

body {
    margin: 0;
    font-family: var(--font-default);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.locked {
    overflow-y: auto;
}

.disabled {
    display: none !important;
}


/************************
#         load          #
************************/
#main{
    max-width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    opacity:0;
}
.loader-wrap {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
    background: var(--light-dark);
    -webkit-transform: translate3d(0,0,0);
}
.pin{
    width:30px;
    height:30px;
    background-image: url("../images/favicon.png");
    background-position: center;
    background-size: 100%;
    position :absolute;
    left :50%;
    top :50%;
    margin: -20px 0 0 -25px;
}

.pulse{
    background :rgba(0,0,0,0.2);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position :absolute;
    left :50%;
    top :50%;
    margin: 11px 0px 0px -12px;
    transform :rotateX(55deg);
    z-index: -2
}
.pulse:after{
    content: "";
    border-radius: 50%;
    height: 40px;
    width :40px;
    position :absolute;
    margin: -13px 0 0 -19px;
    animation : pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity :0.0;
    box-shadow: 0 0 1px 3px var(--orange);
}
@keyframes pulsate{
    0%{
        transform :scale(0.1, 0.1);
        opacity :0.0;
    }
    50%{
        opacity: 1.0;
    }
    100%{
        transform :scale(1.2, 1.2);
        opacity: 0;
    }
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: var(--font-title);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
    list-style: none;
}


img {
    vertical-align: middle;
    border-style: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}


h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-100 {
    width: 100%;
}

/*buttons*/
.btn-primary {
    color: var(--white);
    background-color: var(--light-orange);
    border-color: var(--light-orange);
}


.btn-primary:hover {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-primary:focus, .btn-primary.focus {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--orange);
    box-shadow: 0 0 0 0.2rem var(--rgba-orange);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--orange);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--rgba-orange);
}

.btn-success {
    color: var(--white);
    background-color: var(--green);
    border-color: var(--green);
}

.btn-success:hover {
    color: var(--white);
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.btn-success:focus, .btn-success.focus {
    color: var(--white);
    background-color: var(--light-green);
    border-color: var(--light-green);
    box-shadow: 0 0 0 0.2rem var(--rgba-green);
}

.btn-success.disabled, .btn-success:disabled {
    color: var(--white);
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
    color: var(--white);
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--rgba-green);
}

.btn-danger {
    color: var(--white);
    background-color: var(--red);
    border-color: var(--red);
}

.btn-danger:hover {
    color: var(--white);
    background-color: var(--light-red);
    border-color: var(--light-red);
}

.btn-danger:focus, .btn-danger.focus {
    color: var(--white);
    background-color: var(--light-red);
    border-color: var(--light-red);
    box-shadow: 0 0 0 0.2rem var(--rgba-red);
}

.btn-danger.disabled, .btn-danger:disabled {
    color: var(--white);
    background-color: var(--light-red);
    border-color: var(--light-red);
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    color: var(--white);
    background-color: var(--light-red);
    border-color: var(--light-red);
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--rgba-red);
}

.btn-default {
    color: var(--white);
    background-color: var(--blue);
    border-color: var(--blue);
}

.btn-default:hover {
    color: var(--white);
    background-color: var(--light-blue);
    border-color: var(--light-blue);
}

.btn-default:focus, .btn-default.focus {
    color: var(--white);
    background-color: var(--light-blue);
    border-color: var(--light-blue);
    box-shadow: 0 0 0 0.2rem var(--rgba-blue);
}

.btn-default.disabled, .btn-default:disabled {
    color: var(--white);
    background-color: var(--light-blue);
    border-color: var(--light-blue);
}

.btn-default:not(:disabled):not(.disabled):active, .btn-default:not(:disabled):not(.disabled).active,
.show > .btn-default.dropdown-toggle {
    color: var(--white);
    background-color: var(--light-blue);
    border-color: var(--light-blue);
}

.btn-default:not(:disabled):not(.disabled):active:focus, .btn-default:not(:disabled):not(.disabled).active:focus,
.show > .btn-default.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem var(--rgba-blue);
}

/*column*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    width: 100%;
}
.col-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/*inputs*/
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--rgba-black);
    background-color: var(--white);
    background-clip: padding-box;
    border: none;
    outline: 0;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-webkit-input-placeholder {
    color: var(--light-green);
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: var(--light-green);
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: var(--light-green);
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: var(--light-green);
    opacity: 1;
}

.form-control::placeholder {
    color: var(--light-green);
    opacity: 1;
}

.form-control:focus, .form-control:active {
    border: none;
    outline: 0;
}

/*Alert*/
.alert {
    position: relative;
    width: 100%;
    padding: 0 30px;
}

.alertFilter {
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .3s ease-in-out;
}

.alertFilter.active {
    display: flex;
    opacity: .99;
}

.alertBox {
    width: 100%;
    text-align: center;
}

.alertSuccess {
    color: var(--green);
}

.alertWarning {
    color: var(--light-yellow);
}

.alertDanger {
    color: var(--red);
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*home*/
.contentHome {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

/*menu*/
.navbar {
    padding: 10px 0;
    background-color: var(--black);
}
.contentMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbarHeader {
    flex: 1 1 300px;
}

.navMenu {
    width: calc(100% - 320px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navMenu .nav {
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navMenu .nav li ,
.navMenu .nav li a ,
.navMenu .nav li a span{
    background-color: transparent;
    transition: all .3s ease-in-out;
}

.navMenu .nav li:hover a ,
.navMenu .nav li:hover a span {
    color: var(--orange);
}

.navMenu .nav li a{
    padding: 6px 15px;
    display: block;
    color: var(--white);
}

.navMenu .nav li a span {
    color: var(--light-green);
}

.navMenu .nav li a strong {
    font-weight: 400;
}

.navbarHeaderLink {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.logo-desktop {
    width: auto;
    height: 50px;
}

.navbarHeaderLink span {
    margin-left: 15px;
    color: var(--orange);
    font-family: var(--font-title);
    font-size: 2rem;
    font-weight: 300;
}

.navbarHeaderLink span strong {
    color: var(--white);
}

.contentHome .container h1 {
    color: var(--orange);
}

.contentHome .container p {
    padding: 0 0 100px 0;
    color: var(--white);
}

.itemsSystem {
    justify-content: space-between;
}

.box {
    flex: 1 1 calc(300px - 20px);
    background-color: var(--white);
    height: 250px;
    margin-top: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

/*myspenses*/
.spendingsBox {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}

.spendingsBoxHeader {
    background-color: var(--blue);
}

.spendingsBoxHeader.spendingsBoxRow {
    color: var(--white);
}
.spendingsBoxRow .boxItem {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.spendingsBoxRow .boxItem:nth-child(1) {
    width: 250px;
    line-height: 40px;
    text-align: left;
}

.spendingsBoxRow .boxItem:nth-child(2) {;
    width: 100px;
    line-height: 40px;
    text-align: center;
}

.spendingsBoxRow .boxItem:nth-child(3) {
    width: 100px;
    line-height: 40px;
    text-align: center;
}


.spendingsBoxRow .boxItem:nth-child(4) {
    width: 100px;
    line-height: 40px;
    text-align: center;
}

.myexpenses h1 {
    margin-bottom: 4rem;
    width: 100%;
    font-size: 3.6rem;
    color: var(--orange)!important;
    text-align: left;
}

.spendingsBoxRow .boxItem:nth-child(5) {
    width: 100px;
    line-height: 40px;
    text-align: left;
}

.spendingsBoxRow .boxItem:nth-child(6) {
    width: 250px;
    line-height: 40px;
    text-align: left;
}

.spendingsBoxRow .boxItem:nth-child(7) {
    width: 200px;
    line-height: 40px;
    text-align: center;
}

.spendingsBoxRow {
    width: 100%;
    height: 40px;
    padding: 0 30px;
    display: flex;
}
.spendingsBoxNew {
    width: 100%;
    height: auto;
    color: var(--white);
    background-color: var(--light-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-radius: 0;
}

.spendingsBoxNew .btn {
    position: relative;
    background-color: var(--blue);
    color: var(--white);
    font-weight: var(--font-title);
    overflow: hidden;
}

.spendingsBoxNew a:after {
    content: "\efc2";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'IcoFont' !important;
    color: var(--white);
    background-color: var(--cian);
    transform: translateX(100%);
    transition: .3s ease-in-out;
}
.spendingsBoxNew a:hover:after {
    transform: translateX(0);
}

.filterContent {
    width: 50%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.filterContent .form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.filterContent .form .formGroupRow {
    width: calc(100% - 100px);
}

.filterContent .form button {
    background-color: var(--orange);
    color: var(--white);
}

.filterContent .form button:hover {
    background-color: var(--red);
}

.spendingsBoxRow .boxItem {
    margin-right: 10px;
}

.spendingsBoxBody .spendingsBoxBodyInner:nth-child(even) {
    background-color: var(--dark-white);
}

.spendingsBoxBody .spendingsBoxBodyInner:nth-child(1) {
    margin-top: 10px;
}

.newForm {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid var(--orange);
    padding: 2.1875rem 2.125rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
}

.newForm form {
    padding-bottom: 2rem;
}

.newForm input, .newForm textarea, .newForm select {
    border: 1px solid var(--orange);
}

.newForm select {
    position: relative;
    height: 40px;
    border-radius: 0.25rem;
    color: var(--light-green);
    padding: 0.375rem 0.75rem;
}

.newForm textarea {
    min-height: 100px;
    color: var(--light-green);
}

.newForm input:focus, .newForm textarea:focus, .newForm select:focus,
.newForm input:active, .newForm textarea:active, .newForm select:active
{
    border: 1px solid var(--light-orange);
}

.newForm .form-group {
    margin-bottom: 2rem;
}

.formGroupRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formGroupRow .form-group {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
}

.contentExpenseOpen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contentExpenseOpen span {
    color: var(--light-orange);
}

.contentExpenseOpen span i {
    color: var(--light-dark);
}

.contentExpenseOpen p {
    font-size: 1.2rem;
    color: var(--light-dark);
}

.btnEditContent {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sumBox {
    background-color: var(--light-dark);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--font-title);
    font-size: 2rem;
    font-weight: 400;
    color: var(--light-dark);
    border-bottom: 1px solid var(--rgba-white);
}

.sumBox .sumBoxItems h3{
    margin-right: 20px;
}

.sumBox .sumBoxItems .sumBoxInner {
    padding: 10px 0px;
    font-weight: 600;
    color: var(--red);
}

.sumBox .sumBoxItems .sumBoxInner span {
    font-weight: 300;
}

.sumBox .sumBoxItems {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-top: 1px solid var(--light-dark);
    border-right: 1px solid var(--light-dark);
    border-top-right-radius: 20px;
}

footer {
    padding-top: 30px;
    width: 100%;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center!important;
}

/*modal*/
.modalDeleted {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transform: translateY(-100%);
    background-color: transparent;
    transition: .3s ease-in-out;
}

.modalDeleted.active{
    opacity: .99;
    transform: translateY(0);
}

.modalDeleted .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: var(--black);
    transition: .3s ease-in-out;
    transition-delay: .4s;
}

.modalDeleted .modal .header {
    position: relative;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.210rem;
    background-color: var(--red);
    color: var(--white);
}

.modalDeleted .modal .header .btnClosedModal {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: var(--light-green);
    color: var(--black);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.modalDeleted .modal .header .btnClosedModal:hover {
    background-color: var(--green);
    color: var(--white);
}


.modalDeleted .modal .body {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-align: center;
    font-weight: 300;
    padding: 0 12px;
}

.modalDeleted .modal .footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid var(--orange);
}

/*Calendar*/
.ui-icon .ui-icon-circle-triangle-w {
    position: relative;
}

ui-icon ui-icon-circle-triangle-w:before {
    content: "";
    position:relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    top: 0;
    left: 0;
    background-color: red;
}

/************************
#     Media Queries     #
************************/

@media (max-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 319px) {
    .container {
        max-width: 300px;
    }
}

/************************
#   End Media Queries   #
************************/